.adventures {
    padding-bottom: 60px;
}

.adventures div p {
    display: flex;
    width: 100%;
    font-size: 42px;
    font-family: 'roboto';
    justify-content: center;
}

.adventures div picture img {
    display: flex;
    width: 100%;
    height: 640px;
    object-fit: cover;
}

@media (width <= 900px) {
    .adventures div picture img {
        height: auto;
    }
}

.section.adventures-container .adventures-wrapper {
    max-width: 100%;
    padding: 0;
}

.section.adventures-container p {
    font-size: 42px;
    color: #202020;
    font-family: 'roboto';
    padding-bottom: 20px;
    padding-top: 40px;
}

.section.adventures-container p::after {
    height: 3px;
    background: #FFEA00;
    width: 100px;
    position: absolute;
    content: "";
    display: block;
}

.section.adventures-container #current-adventures {
    font-size: 42px;
    font-family: 'roboto';
    color: #202020;
    font-weight: 400;
    padding-bottom: 30px;
    margin-top: 0;
}

.section.adventures-container #current-adventures::after {
    height: 3px;
    background: #FFEA00;
    width: 100px;
    position: absolute;
    content: "";
    display: block;
}